body{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    h2{
        font-weight: 800;
        font-size: 40px;
    }
    h3{
        font-size: 50px;
        font-weight: 500;
    }
    h4{
        color: #deb37e;
        font-size: 35px;
        font-weight: 600;
    }
    p{
        font-size: 20px;
        font-weight: 400;
    }
    h5{
        font-weight: 700;
    }
}

/*** NAVIGATION BAR ***/
.navbar{
    background: #fff;

    .nav-item{
        .nav-link{
            text-transform: uppercase;
            }
    }
}


/* START HOME SECTION */

#home{
    min-height: 900px;
    background: url('../img/home.jpg') no-repeat top;
    background-size: cover;
    h1{
        font-weight: 700;
        color: #deb37e;
        text-shadow: 1px 1px 2px rgb(117, 116, 116);
    }
    h5{
        color: #54524f;
        font-weight: bold;
        font-style: italic;
        letter-spacing: 4px;
    }
    p{
        color: #54524f;
        font-style: italic;
    }
}

/* START MENU SECTION */
#menu{
    h2{
        color: #e2a355;
    }
    p{
        color: #7f7770;
    }
    .card-body{
        p{
            font-size: 17px;
            color: #fff;
        }
    }
    .btn-lg{
        padding: 14px 40px;
        border-radius: 50px;
    }
    .bg-1{
        background: #7f7770;
        color: #fff;
        p{
            color: #fff;
        }
    }
    .bg-2{
        background: #deb37e;
        color: #fff;
        p{
            color: #fff;
        }
    }
    .col-md-6{
        padding: 0;
    }
    .img-sam-1{
        display: inline-block;
        background: url('../img/pic4.jpg') no-repeat;
        background-size: cover;
    }
    .img-sam-2{
        background: url('../img/pic5.jpg') no-repeat;
        background-size: cover;
    }

}

/* START STORY SECTION */
#story{
.first-story{
    .bg-2{
        min-height: 900px;
        background: url('../img/bg2.jpg') no-repeat center;
        background-size: cover;
    }
    .col{
        margin-top: 300px;
        .display-2{
            font-weight: 500;
        }
        p{
            font-size: 20px;
        }
    }
}
.second-story{
    .bg-3{
        min-height: 900px;
        background: url('../img/bg3.jpg') no-repeat center;
        background-size: cover;
    }
}
.third-story{
    min-height: 800px;
    background: url('../img/tree-shadow.png') no-repeat top;
    background-size: cover;
    color: #3f3f3f;
    h1{
        font-size: 90px;
        font-weight: 700;
    }
    p{
        font-size: 25px;
    }
}
}

/* START CONTACT SECTION */
#contact{
    .bg-4{
        min-height: 800px;
        background: url('../img/bg4.jpg') no-repeat center;
        background-size: cover;
        h2{
            margin-top: 200px;
            font-size: 60px;
            font-weight: 600;
            color: #fff;
        }
        p{
            color: #3f3f3f;
            font-size: 25px;
        }
        .form-group{
            display: inline-block;
        }
    }
    .bg-5{
        min-height: 600px;
        background: url('../img/bg5.jpg') no-repeat center;
        background-size: cover;
        color: #fff;
        p{
            margin-top: 50px;
            font-weight: 300;
        }
        h4{
            margin-top: 200px;
            color: #fff;
            font-weight: 300;
        }
        a{
            height: 38px;
            width: 38px;
            border-radius: 50%;
            display: inline-block;
            color: #7f7770;
            background: #fff;
            text-align: center;
            font-size: 25px;
        }
        a:hover{
            background: rgb(215, 215, 215);
        }
        ul{
            font-size: 20px;
            margin-top: 50px;
            font-weight: 300;
            li{
                padding: 3px 0;
            }
        }
    }
}

#copyright{
    color: #fff;
    background: #3f3f3f;
}


/*=====================================*/
/* MEDIA QUERIES */
/*====================================*/


@media(max-width:1199px){
    #story{
        .first-story{
            .col{
                margin-top: 220px;
            }
        }
    }
}
@media(max-width:767px){
    #story{
        .first-story{
            .col{
                .display-2{
                    font-size: 60px;
                }
            }
        }
    }
    #contact{
        .bg-5{
            .f-h4{
                margin-top: 200px;
            }
            h4{
                font-size: 30px;
                margin-top: 30px;
            }
            p, ul{
                margin-top: 10px;
                font-size: 15px;
                li{
                    padding: 0 0;
                }
            }
        }
    }

}
@media(max-width: 555px){
    #home{
        h1{
            font-size: 80px;
        }
    }
}
@media(max-width: 500px){
    #home{
        h1{
            font-size: 70px;
        }
        h5{
            font-size: 15px;
        }
        a{
            font-size: 13px;
        }
        p{
            font-size: 15px;
        }
    }
}
@media(max-width: 443px){
    #contact{
        .bg-4{
            p{
                font-size: 24px;
                margin-top: -20px;
                margin-bottom: -20px;
            }
        }
    }
}
@media(max-width:380px){
    #story{
        .first-story{
            .col{
                margin-top: 200px;
                .display-2{
                    font-size: 45px;
                }
            }
        }
    }
}
@media(max-width: 331px){
    #contact{
        .bg-4{
            h2{
                font-size: 50px;
            }
            p{
                font-size: 22px;
            }
        }
    }
}
